# Template versionado no Git (sem valores sensíveis)

# Banco de dados
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Backend
BACKEND_PORT=

# Frontend
FRONTEND_PORT=
FRONTEND_URL=

# Redis
REDIS_HOST=
REDIS_PORT=

# Nginx
NGINX_PORT=

# Docker
COMPOSE_PROJECT_NAME=

# SonarQube
SONAR_TOKEN=
SONAR_HOST_URL=